@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

:root {
  --yellow: #f81a1a;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

*::selection {
  background: #020319;
  color: #010324;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #e0e0e6;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

body {
  background: #01021d;
  overflow-x: hidden;
  padding-left: 35rem;
}

section {
  
  padding: 1rem;
}

.btn {
  padding: 0.7rem 3rem;
  background: #0f16ad;
  color: #eee4e4;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
}

.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background-color: #6b45eb;
  transform: scale(1.05);
}

.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #200668;
  color: #fafbfc;
}

.heading span {
  color: #e7c30b;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 36rem;
  background:#080a45;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  border: 0.4rem solid #0c0f6b;
}

header .user .name {
  font-size: 3rem;
  color: hsl(218, 18%, 91%);
}
  
header .user .profission {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: #e7c30b;
}

header .user .post {
  font-size: 2rem;
  color: #991313;
}

header .navbar {
  width: 100%;
}

header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
  margin-top: 2rem;
}

header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: #090e79;
  color: #ebcf15d2;
  font-size: 2rem;
  border-radius: 5rem;
  transition: .2s;
}

header .navbar ul li a:hover {
  background: #704fe8;
  transform: scale(1.1);
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #0f1ae9;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

.home {
  margin: 5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 0 15rem;
}

.home h3 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.home h1 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

.home h1 span {
  color: var(--yellow);
}

.home p {
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
}

.home p .dev-em-dobro {
    color: #EEE;
    text-decoration: underline;
    transition: .3s;
}

.home p .dev-em-dobro:hover {
    color: var(--yellow);
}

/* .home .never-give-up, .home .practice {
    font-weight: 700;
    font-size: 2.1rem;
} */

.home .lucy,
.home .lucy a {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-size: 2.5rem;
}

.home .lucy {
  margin: 2rem 0;
  text-align: center;
}

.home .lucy a {
  color:#e7c30b;
  margin-left: 1rem;
  text-decoration: underline;
}

.home .lucy a:hover {
  color: #ffffffff;
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin: 4rem 0;
}

.about .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}

.about .row .info h3 {
  font-size: 2rem;
  color: #e7c30b;
  padding: 1rem 0;
  font-weight: normal;
}

.about .row .info h3 span {
  color: #eee;
  padding: 0 0.5rem;
}

.about .row .counter {
  flex: 1 1 48rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about .row .counter .box {
  width: 20rem;
  background: #0f16ad;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}

.about .row .counter .box span {
  font-size: 2rem;
  color:#e6e622;
}

.about .row .counter .box h3 {
  font-size: 2rem;
  color: #fff;
}

.portfolio .box-container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio .box-container .project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 3rem 1rem;
  border: 1px solid #433af2;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.portfolio .box-container .box {
  height: 20rem;
  width: 26rem;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-container .box:hover img {
  transform: scale(1.03);
}

.portfolio .box-container .description-project .title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin: 10px;
  transition: 0.5;
  text-align: center;
}

.portfolio .box-container .description-project .title:hover {
  color: var(--yellow);
  
}

.portfolio .box-container .description-project .images {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.portfolio .box-container .description-project .images a {
  transition: .3s;
}

.portfolio .box-container .description-project .images a:hover {
  transform: scale(1.40);
}

.portfolio .box-container .description-project .tecnology {
  width: 5rem;
  margin: 1.2rem 0;
}

.portfolio .box-container .description-project .description {
  margin-top: 1.1rem;
  width: 50rem;
  color: #ffffff;
  font-size: 1.6rem;
  text-align: center;
}

.portfolio .box-container .description-project .description a {
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.portfolio .box-container .description-project .description a:hover {
  color: var(--yellow);
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
  margin-bottom: 3rem;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.contact .row form input[placeholder] {
  text-align: center;
}

.contact .row form .box {
  padding: 1.5rem;
  margin: 1rem 0;
  background: #3333;
  color: #fff;
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}

.contact .row form .box::placeholder {
  text-transform: capitalize;
}

.contact .row form .message {
  height: 15rem;
  resize: none;
}

.contact .row .content .title {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  padding-bottom: 2rem;
  padding-left: 1.1rem;
  text-align: center;
}

.contact .row .content .info {
  margin-left: 1.7rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: normal;
}

.contact .row .content .info h3 img {
  padding-right: 1rem;
  width: 5rem;
}

.top {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 100;
  display: none;
}

.top:hover {
  transform: scale(1.3);
}

/* media queries */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home {
    padding: 4rem;
    text-align: center;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }

  #menu {
    display: block;
  }

  header.toggle {
    left: 0%;
  }

  body {
    padding: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  
  header {
    width: 100vw;
  }

  .portfolio .box-container .project {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
  }

  .heading {
    margin: 0 3rem;
  }

  .about .row .counter .box {
    width: 100%;
  }

  /* .education .box-container .box {
        width: 100%;
    } */

  .portfolio .box-container .project {
    flex-direction: column;
  }

  .portfolio .box-container .description-project .title {
    font-size: 1.5rem;
  }

  .portfolio .box-container .description-project .description {
    font-size: 1.3rem;
    width: 100%;
  }

  .portfolio .box-container .box {
    width: 100%;
  }

  .contact .row form {
    margin: 3rem 0;
  }
}
